h1{
    text-align: 50%;
}
.navbar ul{
    list-style-type: none;
    margin: 0px;
    
    padding: 0px;
    overflow: hidden;
    

}
.navbar a{
    padding: 60px;
    text-decoration: none;
}
.navbar li{
    float: left;
    text-align: 50%;
}